---
name: C/C++ CI
on:
  - push
  - pull_request
  - workflow_dispatch
branches:
  - master
  - development
  - build
paths-ignore:
  - docs/**
  - bin/**
jobs:
  build_linux:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: prerequisites
        run: sudo apt -qq update && sudo apt -yqq install libusb-1.0-0-dev
      - name: cmake_make
        run: mkdir build && cmake -S . -B build && cd build && make
      - name: compress
        run: tar zcvf librtlsdr_build_${{ matrix.os }}.tar.gz --directory=build/src
          --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile
          --exclude=rtl_app_ver.h .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}_latest_build
          path: librtlsdr_build_${{ matrix.os }}.tar.gz
  build_macos:
    strategy:
      matrix:
        os:
          - macos-latest
          - macos-13
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: cmake_make
        run: mkdir build && cmake -S . -B build && cd build && make
      - name: compress
        run: tar zcvf librtlsdr_build_${{ matrix.os }}.tar.gz --directory=build/src
          --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile
          --exclude=rtl_app_ver.h .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}_latest_build
          path: librtlsdr_build_${{ matrix.os }}.tar.gz
  cross_build_win32_win64_latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: prerequisites
        run: sudo apt -qq update && sudo apt -yqq install gcc-mingw-w64
          mingw-w64-i686-dev mingw-w64-x86-64-dev mingw-w64-tools
          mingw-w64-common libpthread-stubs0-dev libusb-dev libusb-1.0-0-dev
      - name: build_w32_static
        run: bash ./cross_build_mingw32.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
      - name: build_w32_static_udpsrv
        run: bash ./cross_build_mingw32.sh static_udpsrv
          -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
      - name: build_w32_dlldep
        run: bash ./cross_build_mingw32.sh dlldep
      - name: build_w32_dlldep_udpsrv
        run: bash ./cross_build_mingw32.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON
      - name: build_w64_static
        run: bash ./cross_build_mingw64.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
      - name: build_w64_static_udpsrv
        run: bash ./cross_build_mingw64.sh static_udpsrv
          -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
      - name: build_w64_dlldep
        run: bash ./cross_build_mingw64.sh dlldep
      - name: build_w64_dlldep_udpsrv
        run: bash ./cross_build_mingw64.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON
      - name: upload w32 static artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_static
          path: rtlsdr-bin-w32_static/bin/
      - name: upload w32 static_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_static_udpsrv
          path: rtlsdr-bin-w32_static_udpsrv/bin/
      - name: upload w32 dlldep artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_dlldep
          path: rtlsdr-bin-w32_dlldep/bin/
      - name: upload w32 dlldep_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_dlldep_udpsrv
          path: rtlsdr-bin-w32_dlldep_udpsrv/bin/
      - name: upload w64 static artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_static
          path: rtlsdr-bin-w64_static/bin/
      - name: upload w64 static_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_static_udpsrv
          path: rtlsdr-bin-w64_static_udpsrv/bin/
      - name: upload w64 dlldep artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_dlldep
          path: rtlsdr-bin-w64_dlldep/bin/
      - name: upload w64 dlldep_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_dlldep_udpsrv
          path: rtlsdr-bin-w64_dlldep_udpsrv/bin/
        path: librtlsdr_build_${{ matrix.os }}.tar.gz

  build_macos:
    strategy:
      matrix:
        os: [macos-latest, macos-13 ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    #- name: prerequisites
    # pre-installed on macos-10.15: git 2.28.0, cmake 3.18.2, libusb 1.0.23
    # pre-installed: clang/LLVM 10.0.1, gcc/++ 8.4.0/9.3.0
    #  run: brew install libusb
    - name: cmake_make
      run: mkdir build && cmake -S . -B build && cd build && make
    - name: compress
      run: tar zcvf librtlsdr_build_${{ matrix.os }}.tar.gz --directory=build/src --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile --exclude=rtl_app_ver.h .
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.os }}_latest_build
        path: librtlsdr_build_${{ matrix.os }}.tar.gz

  cross_build_win32_win64_latest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: prerequisites
      run: sudo apt -qq update && sudo apt -yqq install gcc-mingw-w64 mingw-w64-i686-dev mingw-w64-x86-64-dev mingw-w64-tools mingw-w64-common libpthread-stubs0-dev libusb-dev libusb-1.0-0-dev
    - name: build_w32_static
      run: bash ./cross_build_mingw32.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
    - name: build_w32_static_udpsrv
      run: bash ./cross_build_mingw32.sh static_udpsrv -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
    - name: build_w32_dlldep
      run: bash ./cross_build_mingw32.sh dlldep
    - name: build_w32_dlldep_udpsrv
      run: bash ./cross_build_mingw32.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON

    - name: build_w64_static
      run: bash ./cross_build_mingw64.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
    - name: build_w64_static_udpsrv
      run: bash ./cross_build_mingw64.sh static_udpsrv -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
    - name: build_w64_dlldep
      run: bash ./cross_build_mingw64.sh dlldep
    - name: build_w64_dlldep_udpsrv
      run: bash ./cross_build_mingw64.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON

    - name: 'upload w32 static artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w32_static
        path: rtlsdr-bin-w32_static/bin/
    - name: 'upload w32 static_udpsrv artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w32_static_udpsrv
        path: rtlsdr-bin-w32_static_udpsrv/bin/
    - name: 'upload w32 dlldep artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w32_dlldep
        path: rtlsdr-bin-w32_dlldep/bin/
    - name: 'upload w32 dlldep_udpsrv artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w32_dlldep_udpsrv
        path: rtlsdr-bin-w32_dlldep_udpsrv/bin/

    - name: 'upload w64 static artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w64_static
        path: rtlsdr-bin-w64_static/bin/
    - name: 'upload w64 static_udpsrv artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w64_static_udpsrv
        path: rtlsdr-bin-w64_static_udpsrv/bin/
    - name: 'upload w64 dlldep artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w64_dlldep
        path: rtlsdr-bin-w64_dlldep/bin/
    - name: 'upload w64 dlldep_udpsrv artifact'
      uses: actions/upload-artifact@v4
      with:
        name: rtlsdr-bin-w64_dlldep_udpsrv
        path: rtlsdr-bin-w64_dlldep_udpsrv/bin/
