---
name: C/C++ CI
on:
  push:
    branches:
      - master
      - development
      - build
    paths-ignore:
      - docs/**
      - bin/**
  pull_request:
    branches:
      - master
      - development
      - build
    paths-ignore:
      - docs/**
      - bin/**
jobs:
  build_linux:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: prerequisites
        run: sudo apt -qq update && sudo apt -yqq install libusb-1.0-0-dev
      - name: cmake_make
        run: mkdir build && cmake -S . -B build && cd build && make
      - name: compress
        run: tar zcvf librtlsdr_build_${{ matrix.os }}.tar.gz --directory=build/src
          --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile
          --exclude=rtl_app_ver.h .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}_latest_build
          path: librtlsdr_build_${{ matrix.os }}.tar.gz
  build_macos:
    strategy:
      matrix:
        os:
          - macos-latest
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: cmake_make
        run: mkdir build && cmake -S . -B build && cd build && make
      - name: compress
        run: tar zcvf librtlsdr_build_${{ matrix.os }}.tar.gz --directory=build/src
          --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile
          --exclude=rtl_app_ver.h .
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}_latest_build
          path: librtlsdr_build_${{ matrix.os }}.tar.gz
  cross_build_win32_win64_latest:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      THREADS_USE_PTHREADS_WIN32: true
      CMAKE_FIND_DEBUG_MODE: TRUE
    steps:
      - uses: actions/checkout@v4
      - name: prerequisites
        run: sudo apt -qq update && sudo apt -yqq install gcc-mingw-w64
          mingw-w64-i686-dev mingw-w64-x86-64-dev mingw-w64-tools
          mingw-w64-common libpthread-stubs0-dev libusb-dev libusb-1.0-0-dev
          && sudo find / -name '*pthread*' && sudo find / -name 'libusb*' 
      - name: build_w32_static
        run: bash ./cross_build_mingw32.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
      - name: build_w32_static_udpsrv
        run: bash ./cross_build_mingw32.sh static_udpsrv
          -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
      - name: build_w32_dlldep
        run: bash ./cross_build_mingw32.sh dlldep
      - name: build_w32_dlldep_udpsrv
        run: bash ./cross_build_mingw32.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON
      - name: build_w64_static
        run: bash ./cross_build_mingw64.sh static -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON
      - name: build_w64_static_udpsrv
        run: bash ./cross_build_mingw64.sh static_udpsrv
          -DLINK_RTLTOOLS_AGAINST_STATIC_LIB=ON -DPROVIDE_UDP_SERVER=ON
      - name: build_w64_dlldep
        run: bash ./cross_build_mingw64.sh dlldep
      - name: build_w64_dlldep_udpsrv
        run: bash ./cross_build_mingw64.sh dlldep_udpsrv -DPROVIDE_UDP_SERVER=ON
      - name: upload w32 static artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_static
          path: rtlsdr-bin-w32_static/bin/
      - name: upload w32 static_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_static_udpsrv
          path: rtlsdr-bin-w32_static_udpsrv/bin/
      - name: upload w32 dlldep artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_dlldep
          path: rtlsdr-bin-w32_dlldep/bin/
      - name: upload w32 dlldep_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w32_dlldep_udpsrv
          path: rtlsdr-bin-w32_dlldep_udpsrv/bin/
      - name: upload w64 static artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_static
          path: rtlsdr-bin-w64_static/bin/
      - name: upload w64 static_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_static_udpsrv
          path: rtlsdr-bin-w64_static_udpsrv/bin/
      - name: upload w64 dlldep artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_dlldep
          path: rtlsdr-bin-w64_dlldep/bin/
      - name: upload w64 dlldep_udpsrv artifact
        uses: actions/upload-artifact@v4
        with:
          name: rtlsdr-bin-w64_dlldep_udpsrv
          path: rtlsdr-bin-w64_dlldep_udpsrv/bin/
